aside{
    .adminMenu{
        .nav-item{
            margin-bottom: 0;
            padding: 3px;
        }
    }
}



.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title{
        font-size: 2rem;
    }

    .addPatient, .addDoctor{
        background-color: var(--aside-bg);
        padding: 0.3rem 0.5rem;
        border-radius: 0.6rem;
        cursor: pointer;
        color: #fff;

        &:hover{
            opacity: 0.8;
        }
    }
}

.addBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .addContainer{
        width: 40%;
        background-color: var(--aside-bg);
        padding: 3rem;
        position: relative;
        border-radius: 10px;


        .close{
            background-color: #fff;
            padding: 3px;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 1;

            &:hover{
                opacity: 0.7;
            }
        }

        .heading{
            font-size: 2rem;
        }
        form{
            label{
                font-size: 1.1rem;
            }
        }
    }
}